<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <!-- <link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css"> -->
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value=""  placeholder="Name">
                    <input type="submit" name="" value="submit" onclick="return Clinet.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section>
                <strong>Form Results:</strong>
                <div id="results">
                    <p>Model :</p>
                <div id="model"> </div>
                <p>Score Tag :</p>
                <div id="score_tag"> </div>
                <p>Agreement :</p>
                <div id="agreement"> </div>
                <p>Subjectivity :</p>
                <div id="subjectivity"> </div>
                <p>Confidence :</p>
                <div id="confidence"> </div>
                <p>Irony :</p>
                <div id="irony"> </div>

                </div>
            </section>
        </main>

        <footer>
            <p> &nbsp; &copy; by sadeen 🖤 </p>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script>
    </body>
</html>
