body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}
p {
 color: darkgrey;
}

#results {
    border: 1px solid gray;
    box-sizing: border-box;
    padding: initial;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    margin-top: 20px;
    line-height: 1.9em;
}